* {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}
body {
     background-color: rgb(141, 48, 48);
}
.container {
     margin: 0 auto;
     width: 970px;
     height: 995px;
}

h2 {
     text-align: center;
     padding-top: 20px;
     color: white;
     font-weight: bold;
     padding-bottom: 20px;
}

.game {
     display: grid;
     grid-template: repeat(4, 1fr) / repeat(4, 1fr);
     row-gap: 10px;
     align-items: center;
     transform-style: preserve-3d;
     perspective: 500px;
}

.item {
     position: relative;
     font-size: 40px;
     display: flex;
     background-color: #b3b369;
     align-items: center;
     justify-content: center;
     transition: 0.25s;
     width: 230px;
     height: 300px;
     cursor: pointer;
     transform: rotateY(180deg);
}

h3 {
     border: none;
     padding: 10px 40px;
     text-align: center;
     background-color: white;
     width: fit-content;
     margin: 20px auto;
     border-radius: 5px;
     cursor: pointer;
}

.item::after {
     content: '';
     background-image: url('/images/spider.png');
     position: absolute;
     transition: 0.25s;
     inset: 0;
     transform: rotateY(0deg);
     backface-visibility: hidden;
     background-size: 100px;
     background-color: rgb(173, 34, 34);
}

.boxOpen::after,
.boxMatch::after {
     transform: rotateY(180deg);
}

.item.boxOpen {
     transform: rotateY(0deg);
}


.winning {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
     font-size: 40px;
     color: white;
}


@media only screen and (max-width: 1053px) {
     .item {
          width: 200px;
          height: 250px;
     }
     .container {
     width: 840px;
     }
    
   }
